<%= form_with(model: prospect) do |form| %>
  <% if prospect.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
        <% prospect.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :group, style: "display: block" %>
    <%= form.text_field :group, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :group_name, style: "display: block" %>
    <%= form.text_field :group_name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :birth_date, style: "display: block" %>
    <%= form.date_field :birth_date, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: "form-control form-control-lg" %>
  </div>
  <br>
  <div class="form-group mb-3">
    <%= form.submit class: "btn btn-primary btn-lg" %>
    <%= link_to "Back to prospects", prospects_path, class: "btn btn-outline-primary btn-lg" %>
  </div>
<% end %>
