<div id="<%= dom_id prospect %>">
  <p>
    <strong>Name:</strong>
    <%= prospect.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= prospect.email %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= prospect.group %>
  </p>

  <p>
    <strong>Group name:</strong>
    <%= prospect.group_name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= prospect.cpf %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= prospect.phone %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= prospect.birth_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= prospect.address %>
  </p>

</div>
