<p style="color: green"><%= notice %></p>

<div class="col-lg-8 max-auto">
  <h1>Prospects</h1>

  <%= link_to "Import", import_file_path, class: "btn btn-primary btn-lg mb-3" %>
  <%= link_to "New prospect", new_prospect_path, class: "btn btn-primary btn-lg mb-3" %>
  <div class="card shadow mb-3">
    <div class="card-body">
      <% if @prospects.empty? %>
      <h3>No prospects registered</h3>
      <% end %>
      <% @prospects.each do |prospect| %>
        <dl>
          <dt>Nome: <%= prospect.name %>  | Cpf: <%= prospect.cpf %> </dt>
          <%= link_to "Show", prospect, class: "btn btn-primary" %> 
          <%= link_to "Edit", edit_prospect_path(prospect), class: "btn btn-primary" %>
          <%= link_to "Destroy", prospect, method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-primary" %> </dd>
        </dl>
      <% end %>
    </div>
  </div>
</div>

<br>
